body{
    background-color:#232323;
}

.squares{
    width: 30%;
    background-color: rgb(204, 7, 243);
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container{
    margin: 0 auto;
    max-width: 600px;
}

h1{
    color: white red;
    
}

span{
    color: white;
    
}



